<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/app.css">

        <link rel="stylesheet" href="../vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
    </head>

    <body>
        <div class="container">
        <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Cadastro de disciplinas</h2>

                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Nome da disciplina">
                        <i class="form-group__bar"></i>
                    </div>
                    <p class="card-title">Selecione os cursos que fazem parte dessa disciplina:</p>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="ADS">
                        <label class="custom-control-label" for="ADS">ADS</label>
                    </div>

                    <br>
                    
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="ADM">
                        <label class="custom-control-label" for="ADM">ADM</label>
                    </div>

                    <br>
                    
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="BD">
                        <label class="custom-control-label" for="BD">BD</label>
                    </div>
                    
                    <br>
                    
                    <button type="button" class="btn btn-primary">Enviar</button>
                </div>
            </div>
    </body>
</html>